[Unit]
Description=Mautic and Magento stack using Docker
Requires=docker.service
After=docker.service

[Service]
Restart=always
# Set by setup script
WorkingDirectory=/home/user/Mautic-Magento-Docker-Stack

# Compose up
ExecStart=/usr/local/bin/docker-compose up -d

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
