[Unit]
Description=Mautic and Magento stack using Docker
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
WorkingDirectory=_install_path

Environment=DOCKER_CLIENT_TIMEOUT=120
Environment=COMPOSE_HTTP_TIMEOUT=120

ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
